<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Cadastro de Empresas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../css/padrao.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="../index.html" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
       <!-- <li><a href="#"></a></li>-->
      </ul>
    </div>
  </nav>

  <div class="container">
      <h2>Cards</h2>
      <div class="row">
          <div class="col s12 16">
              <div class="card">
                  <div class="card-image">
                      <img src="" alt="">
                  </div>
                  <div class="card-content">
                      <span class="car-titlhe">
                          Cadastro de Nova Empresa
                      </span>
                      <p></p>

                  </div>
              </div>
          </div>
          <div class="col s12 16">
              
        </div>
      </div>
  </div>


  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Matheus dos Santos Garcez</h5>
          <p class="grey-text text-lighten-4">Analista e Desenvolvedor de Sistemas<br>Técnico em Informática</p>
        </div>
        
       
        <div class="col l3 s12">
          <br><br>
          <ul>
            <li><a class="white-text" href="https://www.linkedin.com/in/matheus-garcez-21340613b/" target="_blank">Linkedin</a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Feito por <a class="orange-text text-lighten-3" href="https://github.com/msgarcez " target="_blank">Matheus Garcez</a>
      </div>
    </div>
  </footer>


<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../js/materialize.js"></script>
  <script src="../js/init.js"></script>

  </body>
</html>
